{{#each services}}
<div class="m-2">
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">PID</th>
      <th scope="col">Name</th>
      <th scope="col">Host</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{pid}}</th>
      <td>{{nome}}</td>
      <td>{{host}}</td>
      <td>@{{status}}</td>
      <td><button>Switch</button></td>
    </tr>
  </tbody>
</table>

</div>

{{else}}
<div class="m3">
    <h3>Nenhum serciço foi encontrado</h3>
</div>

{{/each}}